
*.pyc
.idea/workspace.xml
vcs.xml
.idea/Thesis_sef_Morille_2017.iml
.idea/dictionaries/Jean_Yves.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/preferred-vcs.xml
input_data/new_Flat_9vdb_10MW_5Wh_2014_sc26.csv
input_data/new_Linear_9vdb_10MW_5Wh_2014_sc19.csv
input_data/new_Steep_15vdb_4SOCM_Triads_10MW_5Wh_2014_sc25.csv
input_data/new_Tailored_9vdb_10MW_5Wh_2014_sc55.csv
input_data/new_Tailored_9vdb_40Triads_10MW_5Wh_2015_sc224.csv
